table.repo-list {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 16px;
}

table.repo-list th,
table.repo-list td {
  text-align: left;
  padding: 12px;
  border-color: blac;
}

table.repo-list tr {
  border-bottom: 1px solid #ddd;
}

table.repo-list tr.header,
table.repo-list tr:hover {
  background-color: #f1f1f1;
}
